<%= form_with(model: team) do |form| %>
  <% if team.errors.any? %>
    <div style="color: red">
      <% if team.errors.count == 1%>
      <% t = 'globals.forms.messages.errors.one error'%>
      <% else%>
      <% t = 'globals.forms.messages.errors.multiple errors'%>
      <% end%>
      <h2><%= t t, count: team.errors.count, default: 'not exist'%></h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :team_lead_id, style: "display: block" %>
    <%= form.collection_select :team_lead_id, Employee.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
