<div id="<%= dom_id team %>">
  <p>
    <strong><%= t 'teams.Name', default: 'not exist'%>:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong><%= t 'teams.Description', default: 'not exist'%>:</strong>
    <%= team.description %>
  </p>

  <% employee = Employee.find_by(id:team.team_lead_id) %>
    <% lead = nil %>
    <% unless employee == nil then%>
      <% lead = employee.name %>
    <% end %>

  <p>
    <strong><%= t 'teams.Team lead', default: 'not exist'%>:</strong>
    <%= lead %>
  </p>
  <p>
    <strong><%= t 'teams.Members', default: 'not exist'%>:</strong>
    <% employees = [] %>
    <% team.employees.each do |employee| %>
      <div>
        <%= employee.name%>
      </div>
    <% end%>
  </p>
  

</div>
