<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams">
  <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Division </th>
    <th>Team lead </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @teams.each do |team| %>
    <tr>
    <td><%= team.name %></td>
    <td><%= team.description %></td>
    <td><%= team.division_id %></td>
    <td><%= team.team_lead_id %></td>
    <td><%= link_to "Show", team %></td>
    <td><%= link_to "Edit", edit_team_path(team) %></td>
    <td><%= button_to "Delete", team, method: :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>

<%= link_to "New team", new_team_path %>
