<p style="color: green"><%= notice %></p>

<h1><%= t 'Teams', default: 'not exist'%></h1>

<div id="teams">
  <table>
  <tr>
    <th><%= t '.Name', default: 'not exist'%></th>
    <th><%= t '.Description', default: 'not exist'%></th>
    <th><%= t '.Team lead', default: 'not exist'%> </th>
    <th><%= t '.Members', default: 'not exist'%> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @teams.each do |team| %>
    <tr>
  <% employee = Employee.find_by(id:team.team_lead_id) %>
    <% lead = nil %>
    <% unless employee == nil then%>
      <% lead = employee.name %>
    <% end %>
    
    <td><%= team.name %></td>
    <td><%= team.description %></td>
    <td><%= lead %></td>
    <td>
    <% employees = [] %>
    <% team.employees.each do |employee| %>
      <div>
      <%= employee.name%>
      </div>
    <% end%>
    </td>
    <td><%= link_to t("Show"), team %></td>
    <td><%= link_to t("Edit"), edit_team_path(team) %></td>
    <td><%= button_to t("Delete"), team, method: :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>

<%= link_to t(".New team"), new_team_path %>
