<p style="color: green"><%= notice %></p>

<%= render @team %>

<div>
  <%= link_to t("Edit this team"), edit_team_path(@team) %> |
  <%= link_to t("Back to teams"), teams_path %>

  <%= button_to t("Destroy this team"), @team, method: :delete %>
</div>
