<div id="<%= dom_id employee %>">
  <p>
    <strong><%= t 'employees.Email', default: 'not found'%>:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong><%= t 'employees.Name', default: 'not found'%>:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong><%= t 'employees.Job', default: 'not exist'%>:</strong>
    <%= employee.job %>
  </p>

  <p>
    <strong><%= t 'employees.Salary', default: 'not exist'%>:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong><%= t 'employees.Employment status', default: 'not exist'%>:</strong>
    <%= employee.employment_status %>
  </p>

  <% tm = Team.find_by(id:employee.team_id) %>
  <% team = nil %>
  <% unless tm == nil then%>
    <% team = tm.name %>
  <% end %>

  <p>
    <strong><%= t 'employees.Team', default: 'not exist'%>:</strong>
    <%= team %>
  </p>

</div>
