<p style="color: green"><%= notice %></p>

<h1><%= t 'Employees', default: 'not exist'%></h1>

<div class="new-record"><%= button_to t(".New employee"), new_employee_path, method: :get %></div>

<div id="employees">
<table class="table table-hover">
<thead>
<tr>
  <th><%= t '.Name', default: 'not found'%></th>
  <th><%= t '.Email', default: 'not found'%></th>
  <th><%= t '.Job', default: 'not found'%></th>
  <th><%= t '.Salary', default: 'not found'%></th>
  <th><%= t '.Team', default: 'not found'%></th>
  <th><%= t '.Employment', default: 'not found'%></th>
  <th></th>
</tr>
</thead>

<% @employees.each do |employee| %>
  <tr>
  <% tm = Team.find_by(id:employee.team_id) %>
  <% team = nil %>
  <% unless tm == nil then%>
    <% team = tm.name %>
  <% end %>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.job %></td>
  <td><%= employee.salary %></td>
  <td><%= team %></td>
  <td><%= employee.employment_status %></td>
  <td>
    <div class="tb-btns"><%= button_to t("Show"), employee, method: :get %></div>
    <div class="tb-btns"><%= button_to t("Edit"), edit_employee_path(employee), method: :get %></div>
    <div class="tb-btns"><%= button_to t("Delete"), employee, method: :delete %></div>
  </td>
  </tr>
  
<% end %>
</table>
</div>
