<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<div class="new-record"><%= button_to "Add Employee", new_employee_path, method: :get %></div>

<div id="employees">
<table>
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Job</th>
  <th>Salary</th>
  <th>Team</th>
  <th>Employment</th>
  <th></th>
</tr>

<% @employees.each do |employee| %>
  <tr>
  <% tm = Team.find_by(id:employee.team_id) %>
  <% team = nil %>
  <% unless tm == nil then%>
    <% team = tm.name %>
  <% end %>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.job %></td>
  <td><%= employee.salary %></td>
  <td><%= team %></td>
  <td><%= employee.employment_status %></td>
  <td>
    <div class="tb-btns"><%= button_to "Show", employee, method: :get %></div>
    <div class="tb-btns"><%= button_to "Edit", edit_employee_path(employee), method: :get %></div>
    <div class="tb-btns"><%= button_to "Delete", employee, method: :delete %></div>
  </td>
  </tr>
  
<% end %>
</table>
</div>

