<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to t("Edit this employee"), edit_employee_path(@employee) %> |
  <%= link_to t("Back to employees"), employees_path %>

  <%= button_to t("Destroy this employee"), @employee, method: :delete, class:"btn btn-primary"  %>
</div>
