<%= form_with(model: target) do |form| %>
  <% if target.errors.any? %>
    <div style="color: red">
      <% if target.errors.count == 1%>
      <% t = 'globals.forms.messages.errors.one error'%>
      <% else%>
      <% t = 'globals.forms.messages.errors.multiple errors'%>
      <% end%>
      <h2><%= t t, count: target.errors.count, default: 'not exist'%></h2>

      <ul>
        <% target.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :finish_date, style: "display: block" %>
    <%= form.datetime_field :finish_date %>
  </div>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= form.collection_select :team_id, Team.all, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
