<div id="<%= dom_id target %>">
  <p>
    <strong>Title:</strong>
    <%= target.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= target.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= target.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= target.finish_date %>
  </p>

  <p>
    <strong>Attribute:</strong>
    <%= target.attribute %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= target.team %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= target.status %>
  </p>

</div>
