<p style="color: green"><%= notice %></p>

<h1>Targets</h1>

<div class="new-record"><%= button_to "Add Target", new_target_path, method: :get %></div>

<div id="targets">
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Team</th>
    <th>Start date</th>
    <th>Finish date</th>
    <th>Status</th>
    <th></th>
  </tr>

  <% @targets.each do |target| %>
    <tr>
    <% tm = Team.find_by(id:target.team_id) %>
    <% team = nil %>
    <% unless tm == nil then%>
      <% team = tm.name %>
    <% end %>
    <td><%= target.title %></td>
    <td><%= target.description %></td>
    <td><%= team %></td>
    <td><%= target.start_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.finish_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.status %></td>
    <td>
      <div class="tb-btns"><%= button_to "Show", target, method: :get %></div> 
      <div class="tb-btns"><%= button_to "Edit", edit_target_path(target), method: :get %></div>
      <div class="tb-btns"><%= button_to "Delete", target, method: :delete %></div>
    </td>
    </tr>
    
  <% end %>
</table>
</div>

