<p style="color: green"><%= notice %></p>

<h1><%= t 'Targets', default: 'not exist'%></h1>

<div class="new-record"><%= button_to t(".New target"), new_target_path, method: :get %></div>

<div id="targets">
<table class="table table-hover">
<thead>
  <tr>
    <th><%= t '.Title', default: 'not found'%></th>
    <th><%= t '.Description', default: 'not found'%></th>
    <th><%= t '.Team', default: 'not found'%></th>
    <th><%= t '.Start date', default: 'not found'%></th>
    <th><%= t '.Finish date', default: 'not found'%></th>
    <th><%= t '.Status', default: 'not found'%></th>
    <th></th>
  </tr>
  </thead>

  <% @targets.each do |target| %>
    <tr>
    <% tm = Team.find_by(id:target.team_id) %>
    <% team = nil %>
    <% unless tm == nil then%>
      <% team = tm.name %>
    <% end %>
    <td><%= target.title %></td>
    <td><%= target.description %></td>
    <td><%= team %></td>
    <td><%= target.start_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.finish_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.status %></td>
    <td>
      <div class="tb-btns"><%= button_to t("Show"), target, method: :get %></div> 
      <div class="tb-btns"><%= button_to t("Edit"), edit_target_path(target), method: :get %></div>
      <div class="tb-btns"><%= button_to t("Delete"), target, method: :delete %></div>
    </td>
    </tr>
    
  <% end %>
</table>
</div>
