<p style="color: green"><%= notice %></p>

<h1><%= t 'Targets', default: 'not exist'%></h1>

<div id="targets">
<table>
  <tr>
    <th><%= t '.Title', default: 'not exist'%></th>
    <th><%= t '.Description', default: 'not exist'%></th>
    <th><%= t '.Start date', default: 'not exist'%></th>
    <th><%= t '.Finish date', default: 'not exist'%></th>
    <th><%= t '.Team', default: 'not exist'%></th>
    <th><%= t '.Status', default: 'not exist'%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @targets.each do |target| %>
    <tr>
    <% tm = Team.find_by(id:target.team_id) %>
    <% team = nil %>
    <% unless tm == nil then%>
      <% team = tm.name %>
    <% end %>
    <td><%= target.title %></td>
    <td><%= target.description %></td>
    <td><%= target.start_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.finish_date.strftime("%Y-%m-%d") %></td>
    <td><%= team %></td>
    <td><%= target.status %></td>
    <td><%= link_to t("Show"), target %></td>
    <td><%= link_to t("Edit"), edit_target_path(target) %></td>
    <td><%= button_to t("Delete"), target, method: :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>

<%= link_to t(".New target"), new_target_path %>
