<p style="color: green"><%= notice %></p>

<h1>Targets</h1>

<%= link_to "New target", new_target_path %>

<div id="targets">
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>Finish date</th>
    <th>Team</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @targets.each do |target| %>
    <tr>
    <% tm = Team.find_by(id:target.team_id) %>
    <% team = nil %>
    <% unless tm == nil then%>
      <% team = tm.name %>
    <% end %>
    <td><%= target.title %></td>
    <td><%= target.description %></td>
    <td><%= target.start_date.strftime("%Y-%m-%d") %></td>
    <td><%= target.finish_date.strftime("%Y-%m-%d") %></td>
    <td><%= team %></td>
    <td><%= target.status %></td>
    <td><%= link_to "Show", target %></td>
    <td><%= link_to "Edit", edit_target_path(target) %></td>
    <td><%= button_to "Delete", target, method: :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>

