<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
  <%= link_to "Edit this target", edit_target_path(@target) %> |
  <%= link_to "Back to targets", targets_path %>

  <%= button_to "Destroy this target", @target, method: :delete %>
</div>
