<p style="color: green"><%= notice %></p>

<%= render @target %>

<div>
  <%= link_to t("Edit this target"), edit_target_path(@target) %> |
  <%= link_to t("Back to targets"), targets_path %>

  <%= button_to t("Destroy this target"), @target, method: :delete %>
</div>
