<div id="<%= dom_id user %>">
  <p>
    <strong>Profile:</strong>
    <%if user.profile.attached?%>
      <%= image_tag(user.profile, size: "200x200") %>
      <%= button_to "Delete profile", delete_profile_user_path(user), method: :delete %>
    <%end%>
  </p>

  <p>
    <strong><%= t 'users.Email', default: 'not exist'%>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t 'users.Name', default: 'not exist'%>:</strong>
    <%= user.name %>
  </p>

</div>
