<div id="<%= dom_id user %>">
  <p>
    <strong><%= t 'users.Email', default: 'not exist'%>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t 'users.Name', default: 'not exist'%>:</strong>
    <%= user.name %>
  </p>

</div>
