<p style="color: green"><%= notice %></p>

<h1<%= t 'Users', default: 'not exist'%>></h1>

<div id="users">
<table>
<tr>
  <th><%= t '.Name', default: 'not exist'%></th>
  <th><%= t '.Email', default: 'not exist'%></th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @users.each do |user| %>
  <tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to t("Show"), user %></td>
  <td><%= link_to t("Edit"), edit_user_path(user) %></td>
  <td><%= button_to t("Delete"), user, method: :delete %></td>
  </tr>
  
<% end %>
</table>
</div>

<%= link_to t(".New user"), new_user_path %>
