<div id="<%= dom_id division %>">
  <p>
    <strong><%= t 'divisions.Name', default: 'not exist'%>:</strong>
    <%= division.name %>
  </p>

  <p>
    <strong><%= t'divisions.Description', default: 'not exist'%>:</strong>
    <%= division.description %>
  </p>

  <% employee = Employee.find_by(id:division.manager_id) %>
    <% manager = nil %>
    <% unless employee == nil then%>
      <% manager = employee.name %>
    <% end %>
  <p>
    <strong><%= t'divisions.Manager', default: 'not exist'%>:</strong>
    <%= manager %>
  </p>

</div>
