<p style="color: green"><%= notice %></p>

<h1><%= t 'Divisions', default: 'not exist'%></h1>

<div id="divisions">
<table>
  <tr>
    <th><%= t'.Name', default: 'not exist'%></th>
    <th><%= t'.Description', default: 'not exist'%></th>
    <th><%= t'.Manager', default: 'not exist'%></th>
    <th><%= t'.Teams', default: 'not exist'%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @divisions.each do |division| %>
    <tr>
    <% employee = Employee.find_by(id:division.manager_id) %>
    <% manager = nil %>
    <% unless employee == nil then%>
      <% manager = employee.name %>
    <% end %>
    <td><%= division.name %></td>
    <td><%= division.description %></td>
    <td><%= manager %></td>
    <td>
    <% teams = [] %>
    <% division.teams.each do |team| %>
      <div>
        <%= team.name%>
      </div>
    <% end%>
    </td>
    <td><%= link_to t("Show"), division %></td>
    <td><%= link_to t("Edit"), edit_division_path(division) %></td>
    <td><%= button_to t("Delete"), division, method: :delete %></td>
    </tr>
    
  <% end %>
</table>
</div>

<%= link_to t(".New division"), new_division_path %>
