<div class="w3-sidebar w3-light-grey w3-bar-block">

<a href="/users" class="w3-bar-item w3-button"><%= t 'Users', default: 'not found'%></a>
<a href="/employees" class="w3-bar-item w3-button"><%= t 'Employees', default: 'not found'%></a>
<a href="/teams" class="w3-bar-item w3-button"><%= t 'Teams', default: 'not found'%></a>
<a href="/divisions" class="w3-bar-item w3-button"><%= t 'Divisions', default: 'not found'%></a>
<a href="/targets" class="w3-bar-item w3-button"><%= t 'Targets', default: 'not found'%></a>

</div>