<!DOCTYPE html>
<html>
  <head>
    <title><%= t '.HREmployeeAdminSystem', default: 'not exist'%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="sign_out">
  <%if user_signed_in?%>
  <%= button_to t('.Sign out'), destroy_user_session_path, method: :delete%>
  <%end%>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <base href="http://127.0.0.1:3000/" />
  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
    
    <h3 class="w3-bar-item" ><%= t 'Menu', default: 'not exist'%></h3>
    <a href="/home" class="w3-bar-item w3-button"><%= t 'Home', default: 'not exist'%></a>
    <a href="/divisions" class="w3-bar-item w3-button"><%= t 'Divisions', default: 'not exist'%></a>
    <a href="/employees" class="w3-bar-item w3-button"><%= t 'Employees', default: 'not exist'%></a>
    <a href="/targets" class="w3-bar-item w3-button"><%= t 'Targets', default: 'not exist'%></a>
    <a href="/teams" class="w3-bar-item w3-button"><%= t 'Teams', default: 'not exist'%></a>
    <a href="/users" class="w3-bar-item w3-button"><%= t 'Users', default: 'not exist'%></a>
  </div>
  <div class="main" style="margin-left:15%">
    <%= yield %>
  </div>
  </body>
</html>
