<!DOCTYPE html>
<html>
  <head>
    <title><%= t '.HREmployeeAdminSystem', default: 'not exist'%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "bootstrap", "data-turbo-track": "reload" %>
  </head>

  <body>
  <%= render "layouts/top_nav" %>
 <div class="app-container">
  <%= render "layouts/side_nav" %>

  
  <div class="container">
    <div class="main">
      <% unless request.env['PATH_INFO'] == "/users/sign_in"%>  
        <p class="alert"><%= alert %></p>
      <% end%>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </div>
  </div>
  
  </body>
</html>
