<!DOCTYPE html>
<html>
  <head>
    <title>HREmployeeAdminSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <div class="top-bar">
  <h2 class="title">HR Admin System</h2>
    <div class="sign-out">
      <%if user_signed_in?%>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete%>
      <%end%>
    </div>
    <div class="profile">
      <% if user_signed_in?%>
        <a href="/users/<%=current_user.id%>"><%=current_user.name%></a>
      <%else%>
        <a href="/users" class="w3-bar-item w3-button">Profile</a>
      <%end%>
    </div>
  </div>

  

  <div class="w3-sidebar w3-light-grey w3-bar-block">

    <a href="/users" class="w3-bar-item w3-button">Users</a>
    <a href="/employees" class="w3-bar-item w3-button">Employees</a>
    <a href="/teams" class="w3-bar-item w3-button">Teams</a>
    <a href="/divisions" class="w3-bar-item w3-button">Divisions</a>
    <a href="/targets" class="w3-bar-item w3-button">Targets</a>

  </div>
  <div class="main" style="margin-left:15%">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  </body>
</html>
